<!DOCTYPE html>
<html>
<head>
  <title>Citizenry</title>
  <%= stylesheet_link_tag    "citizenry/application" %>
  <%= javascript_include_tag "citizenry/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
